.quick-nav.margin-bottom
    select(class='change', data-repo=repo)

        option(value="") Switch Branches/Tags

        option(value="") --- Branches ---
        each branch in branches
            if ref == branch
                option(value=branch, class='selected')= branch
            else
                option(value=branch)= branch

        option(value="") --- Tags ---
        each tag in tags
            if ref == tag
                option(value=tag, class='selected')= tag
            else
                option(value=tag)= tag

    ul.tabs
        li.selected
            a(href='/' + repo + '/') Files
        li
            a(href='/' + repo + '/commits/' + ref) Commits
