!!! 5
html
    head
        title Pushhub
        link(rel="stylesheet", type="text/css", href=app.route + "stylesheets/main.css")
        link(rel="stylesheet", type="text/css", href=app.route + "stylesheets/sunlight.default.css")
    body
        block content

        script(src=app.route + "javascripts/jquery-1.7.2.min.js")
        script(src=app.route + "javascripts/sunlight-all-min.js")
        script(src=app.route + "javascripts/bootstrap.js")
