extends layout

block content
    form(action='/checkout', method='post')
        input(type='hidden', name='repo', value=repo)
        select(name='ref')
            each branch in branches.list
                if branch == branches.current
                    option(value=branch, selected='selected')= branch
                else
                    option(value=branch)= branch
        input(type='submit', value='Change branch')
    table
        thead
            tr
                th.name name
                th.age age
                th.message message
        each item in items
            tr
                td.name
                    span(class="pictogram " + item.type)
                    a(href=item.url)= item.name
                td.age= item.age
                td.message= item.message
                    | [
                    a(href="mailto:" + item.author.email) #{item.author.name}
                    | ]
